{% extends 'base.html' %}

{% block title %}Nova Turma{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-3">🏫 Cadastro de Turma</h2>
        <p class="mb-4">Preencha o nome da turma e clique em salvar.</p>

        <form method="post">
            {% csrf_token %}

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <div class="d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-primary">💾 Salvar</button>
                <a href="{% url 'lista_turmas' %}" class="btn btn-secondary">🔙 Voltar para lista de turmas</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
