<h1>Lista de Atividades</h1>
<a href="/atividades/nova/">Criar nova atividade</a>
<ul>
    {% for atividade in atividades %}
        <li>
            <strong>{{ atividade.titulo }}</strong> - {{ atividade.descricao }}
            <br> Progresso: {{ atividade.progresso }}%

            <br>
            {% if atividade.horario_inicio %}
                Início: {{ atividade.horario_inicio|time:"H:i" }}
            {% else %}
                Início: -
            {% endif %}

            {% if atividade.horario_fim %}
                | Fim: {{ atividade.horario_fim|time:"H:i" }}
            {% else %}
                | Fim: -
            {% endif %}

            <br>
            <a href="/atividades/{{ atividade.id }}/editar/">✏️ Editar</a>
            <a href="{% url 'editar_horarios' atividade.id %}">Editar horários</a> |
            <a href="{% url 'ativar_rotina' atividade.id %}">Ativar</a> |
            <a href="{% url 'excluir_rotina' atividade.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'inicio' %}">
    <button type="button">Voltar</button>
</a>

