{% extends 'base.html' %}

{% block title %}Lista de Atividades{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-3">Lista de Atividades</h2>
        <p class="mb-4">Visualizar atividades.</p>

        <a href="/atividades/nova/" class="btn btn-primary mb-3"> Criar nova atividade</a>

        <ul class="list-group">
            {% for atividade in atividades %}
                <li class="list-group-item mb-2 p-3">
                    <strong>{{ atividade.titulo }}</strong> - {{ atividade.descricao }}<br>
                    Progresso: {{ atividade.progresso }}%<br>

                    {% if atividade.horario_inicio %}
                        Início: {{ atividade.horario_inicio|time:"H:i" }}
                    {% else %}
                        Início: -
                    {% endif %}

                    {% if atividade.horario_fim %}
                        | Fim: {{ atividade.horario_fim|time:"H:i" }}
                    {% else %}
                        | Fim: -
                    {% endif %}

                    <div class="mt-2 d-flex gap-2 flex-wrap">
                        <a href="/atividades/{{ atividade.id }}/editar/" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'editar_horarios' atividade.id %}" class="btn btn-info btn-sm">Editar horários</a>
                        <a href="{% url 'ativar_rotina' atividade.id %}" class="btn btn-success btn-sm">Ativar</a>
                        <a href="{% url 'excluir_rotina' atividade.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">Nenhuma atividade encontrada.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'inicio' %}" class="btn btn-secondary mt-3">🔙 Voltar</a>
    </div>
</div>
{% endblock %}
