{% extends 'base.html' %}

{% block title %}Lista de Turmas{% endblock %}

{% block content %}
<div class="card">
    <h2>📋 Turmas</h2>
    <ul>
        {% for turma in turmas %}
            <li>
                <strong>{{ turma.nome }}</strong>
            </li>
        {% empty %}
            <li>Nenhuma turma cadastrada.</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'criar_turma' %}" class="btn">+ Nova Turma</a>
    <a href="{% url 'inicio' %}" class="btn btn-danger">⮌ Voltar ao início</a>
</div>
{% endblock %}
